# Base
pillow==8.3.1

# Django
asgiref==3.4.1
Django==3.2.5
pytz==2021.1
sqlparse==0.4.1

# Django Rest Framework
djangorestframework==3.12.4

# Authentication
PyJWT==2.1.0

# Django Filter
 django-filter==2.4.0

# Celery
amqp==5.0.6
billiard==3.6.4.0
celery==5.1.2
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
kombu==5.1.0
prompt-toolkit==3.0.19
six==1.16.0
vine==5.0.0
wcwidth==0.2.5